@import 'override-bootstrap.scss';

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  margin: 0 0 0.5rem 0;
  padding: 0;
}

li {
  list-style: none;
}

label {
  font-size: 0.5rem;
}

body {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

#left-pane {
  width: 50%;
  transition: width 0.5s ease;
}

#right-pane {
  width: 50%;
  display: flex;
  flex-direction: row;
  transition: width 0.5s ease;
}

#droparea {
  width: 100%;
  height: 100%;
  border: 1px dashed #333;
  background-color: #EEE;
}

#tracks {
  width: 100%;
}

#toggle {
  width: 30px;
  height: 100%;
  font-size: 1rem;
  background-color: #FFF;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-out;

  &:hover {
    background-color: #EEE;
    color: #333;
    cursor: pointer;
  }
}

#right-contents {
  width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
}

#customers {
  width: 100%;

  form {
    width: 100%;
  }
}

#templates {
  width: 100%;

  .template-ul {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;

    form {
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    .template-li {
      padding-left: 0.5em;
      padding-right: 0.5em;

      &:nth-child(1) {
        width: 23%;
      }
      &:nth-child(2) {
        width: 10%;
      }
      &:nth-child(3) {
        width: 10%;
      }
      &:nth-child(4) {
        width: 10%;
      }
      &:nth-child(5) {
        width: 23%;
      }
      &:nth-child(6) {
        width: 12%;
      }
      &:nth-child(7) {
        width: 12%;
      }

      input {
        &[type='text'] {
          width: 100%;
          height: auto;
          padding: 0.1rem;
        }
      }
    }
  }
}

#legends {
  .legends-li {
    padding: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 0.5rem;
  }
}
