* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

#left-pane {
  width: 50%;
}

#right-pane {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#droparea {
  width: 100%;
  height: 100%;
  border: 1px dashed #333;
  background-color: #EEE;
}

#tracks {
  width: 100%;
}

#customers {
  width: 100%;

  form {
    width: 100%;
  }
}

#templates {
  width: 100%;

  .template-ul {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;

    form {
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    .template-li {
      list-style: none;
      padding-left: 0.5em;
      padding-right: 0.5em;

      &:nth-child(1) {
        width: 23%;
      }
      &:nth-child(2) {
        width: 10%;
      }
      &:nth-child(3) {
        width: 10%;
      }
      &:nth-child(4) {
        width: 10%;
      }
      &:nth-child(5) {
        width: 23%;
      }
      &:nth-child(6) {
        width: 12%;
      }
      &:nth-child(7) {
        width: 12%;
      }

      input {
        &[type='text'] {
          width: 100%;
        }
      }
    }
  }
}
